
RewriteEngine On

RewriteRule ^$ /server/views/static.html
RewriteRule ^style.css$ /server/views/style.css

#jquery stuff - css, images, js
RewriteCond %{REQUEST_URI} !^/client/
RewriteRule ^(js/.*)$ /client/$1

#client.js
RewriteCond %{REQUEST_URI} !^/client/
RewriteRule ^client.js$ /client/client.js

RewriteCond %{QUERY_STRING} !callback=
RewriteCond %{REQUEST_URI} !^/data/
RewriteRule ^(.*)\.json$ /data/pages/$1 

#work around the issue where in local edit mode we still ask the server, even if the server can tell us nothing
#should really use the 404 for 'topic does not exist' and then have the client create it locally
RewriteCond %{REQUEST_URI} ^/data/
RewriteCond %{REQUEST_URI} !^/data/pages/missing-page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /data/pages/missing-page

RewriteCond %{REQUEST_URI} ^/data/
RewriteRule .* - [T=application/json]

#SvenDowideit@fosiki.com's gravatar - you'll want to change this :)
RewriteRule ^favicon.png$ http://en.gravatar.com/userimage/3255925/c3addcadf86caced332408a2e0b4d68b.jpeg

#lets see if we can make jsonp ?callback= requests work using mod_include :)
AddHandler server-parsed .jsonp
AddType text/javascript .jsonp

RewriteCond %{QUERY_STRING} callback=(.*)
RewriteCond %{REQUEST_URI} !^/data/
RewriteRule ^(.*)\.json$ /index.jsonp?page=$1&callback=%1
#TODO: need to work out a 404 way to deal with missing page too
